body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lemonchiffon;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

nav {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    background-color: darkblue;
    color: ivory;
}

h1 {
    font-size: 200%;
}

h2 {
    margin: 2%; 
    font-size: 200%
}

